@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: #EFC86B;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
header#cabecalho {
    border-bottom: 1px ; /*linha de borda*/
    height: 50px; /*altura da linha*/
}

/*formatação da imagem*/
div#interface img#perfil {
    position: absolute;
    left: 550px;
    top: 100px;
    border-radius: 500px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0px 0px 20px black;
}
/*formatação de interface */
div#interface {
    width: 1100px;
    height: 800px;
    background-color: #F4E3B2;
    margin: 05px auto 60px auto;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .5);
    padding: 10px;
}
/*modo claro e escuro*/
body.dark {
    background-color: #232c35;
}
body.dark div#interface {
    background-color: grey;
}
body.dark nav#menu ul {
    background-color: grey;
}
.checkbox {
    opacity: 0;
}
.label {
    background-color: #EFC86B;
    border-radius: 50px;
    cursor: pointer;
    display: relative;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 15px;
    width: 50px;
    transform: scale(1.5);
    left: 1037px;
    top: -126px;
}
.dark .label {
    background-color: #000;
}
.label .ball {
    background-color: #F4E3B2;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 2px;
    height: 21px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
    transform: translateX(20px);
}
.fa-moon {
    color: #f1c40f;
}
.fa-sun {
    color: #f39c12;
}

/*formatação do menu*/
nav#menu {
    display: block;
}
nav#menu ul {
    width: 1100px;
    background-color: #F4E3B2;
    margin: -05px auto 10px auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    padding: 10px;
}
nav#menu ul a {
    text-decoration: none;
    margin-right: 10px;
    color: inherit;
}
/*formatação corpo*/
div#corpo h1 {
    position: relative;
    top: 300px;
    left: 250px;
}
div#corpo h2 {
    position: relative;
    top: 300px;
    left: 250px;
}
/*formatação rede sociais*/
ul.profile-redes {
    position: relative;
    top: 320px;
    left: 425px;
}
.profile-redes{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-bottom: 25px;
}

.profile-rede-img:hover{
    fill: #a4d0fa;
}

.profile-rede-img{
    fill: #000;
    height: 25px;
}